/* Blog Page */
.blog-posts h2,
.ecommerce .blog-posts h2 {
  padding-top: 0;
}
.blog-posts p {
  text-align: justify;
}
.blog-posts .carousel {
  margin-bottom: 0;
}
.blog-posts hr.blog-post-sep {
  margin: 40px 0;
}
.blog-info {
  list-style: none;
  margin: 15px 0 12px 0;
  padding-left:0;
}
.blog-info li {
  padding: 0;
  color: #555;
  font-size: 13px;
  margin-right: 10px; 
  display: inline-block;
}
.blog-info li i {
  color: #E84D1C;
}

.blog-posts .pagination li {
	margin-left: -12px;
	margin-right: 17px;
}

.blog-posts .more,
.blog-sidebar .more {
	color: #E84D1C;
}

/* Blog Sidebar */
.recent-news {
  overflow: hidden;
}
.recent-news h3,
.ecommerce .recent-news h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.recent-news h3 a {
	color: #E84D1C;
}
.recent-news-inner{
	padding: 0;
}
.blog-talks .tab-style-1 ul.nav-tabs li > a {
  min-width: 50px;
}
.blog-photo-stream li {
  overflow: hidden;
  margin: 0 5px 8px 0;
  display: inline-block;
}
.blog-photo-stream li img {
  width: 54px;
  height: 54px;
  padding: 2px; 
  border: solid 1px #eee;
}
.blog-photo-stream li img:hover {
  border-color: #E84D1C;
  box-shadow: 0 0 1px #fff;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.blog-tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-tags li {
  position: relative;
  margin: 0 16px 7px 0;
  display: inline-block;
}
.blog-tags li a {
  color: #555;
  background: #f5f5f5;
  display: inline-block; 
  padding: 3px 5px 3px 3px;
}
.blog-tags li a:hover {
  color: #fff;
  background: #E84D1C;
  text-decoration: none;
}
.blog-tags li a:hover i {
  color: #fff;
}
.blog-tags li i {
  color: #E84D1C;
  margin-right: 5px;
  display: inline-block;
}
.blog-tags li a:after { 
  top: 50%;
  width: 0; 
  left: 100%;
  height: 0;
  z-index: 2; 
  content: " "; 
  display: block; 
  margin-top: -12px; 
  position: absolute;
  border-left: 12px solid #f5f5f5;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;  
}
.blog-tags li a:hover:after { 
  border-left-color: #E84D1C;
}

.blog-talks .tab-content {
	background: #FAFAFA;
	padding: 20px 15px;
}
.blog-talks .nav-tabs {
	margin-bottom: 0;
}
.blog-talks .nav-tabs > li {
	margin-top: 1px;
}

/* Blog Sidebar categories BEGIN */ 
.sidebar-categories li a {
  padding: 10px 0;
  border-bottom: 1px solid #ECEBEB;
  color: #333;
}
.sidebar-categories li a:hover {
  background: none;
}
.sidebar-categories li > a:hover,
.sidebar-categories li.active > a,
.sidebar-categories li.active:hover > a {
  color: #E84D1C;
}
.sidebar-categories li a:before {
    content: "ï”";
    font-family: FontAwesome !important;
    font-size: 8px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}
/* Blog Sidebar categories END */

/* Blog Item */
.blog-item .blog-item-img {
  margin: 6px 0 25px;
}
.blog-item .blog-item-img .carousel {
  margin-bottom: 0;
}
.blog-item blockquote {
  margin: 20px 40px 18px;
  border-color: #E84D1C;
}
.blog-item .blog-info {
  margin: 20px 0;
  padding: 8px 0;
  border-top: solid 1px #ECEBEB;
  border-bottom: solid 1px #ECEBEB;
}
.blog-item .blog-info li {
  padding-left: 13px; 
  border-left: solid 1px #ECEBEB;
}
.blog-item .blog-info li:first-child {
  padding-left: 0; 
  border-left: none; 
}
.blog-item .blog-item-img .carousel-control {
  top: 45%;
}

.blog-item .media {
	border-bottom: solid 1px #ECEBEB;
	margin-bottom: -1px;
}
.blog-item .comments {
	border-top: solid 1px #ECEBEB;
	padding-top: 15px;
}
.blog-item img.media-object {
    top: 2px;
	width: 60px;
	height: 60px;
    position: relative;
}
.blog-item h4.media-heading {
    position: relative;
    padding-top: 0;
}
.blog-item h4.media-heading span {
    right: 0;
    top: 3px;
    color: #777;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
}
.blog-item h4.media-heading span a {
    color: #E84D1C;
}

.mix-block .tab-content .col-md-3 {
	padding-right: 0;
}
.mix-block .nav-tabs > li {
    margin-top: 1px;
}

/* front steps */
.front-steps-wrapper h2,
.ecommerce .front-steps-wrapper h2 {
	color: #f0f0f0;
	font-size: 22px;
	line-height: 1.2;
	padding-top: 10px;
	margin-bottom: 5px;
}
.front-steps-wrapper .front-step1 h2,
.ecommerce .front-steps-wrapper .front-step1 h2 {
	color: #fefefe;
}
.front-steps-wrapper p {
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
}

.front-steps-wrapper .front-step-col {
	padding-left: 0;
	padding-right: 0;
}
.front-steps-wrapper .front-step-col:first-child {
	padding-left: 15px;
}
.front-steps-wrapper .front-step-col:last-child {
	padding-right: 15px;
}

.front-steps-wrapper .front-step {
	position: relative;
	padding: 15px 20px 33px;
}
.front-steps-wrapper .front-step1 {
	background: #E84D1C;
}
.front-steps-wrapper .front-step2 {
	background: #7c858e;
}
.front-steps-wrapper .front-step3 {
	background: #68727c;
}
.front-steps-wrapper .front-step4 {
	background: #636a72;
}
.front-steps-wrapper .front-step5 {
	background: #5e6369;
}
.front-steps-wrapper .front-step6 {
	background: #55585d;
}

.front-steps-wrapper .front-step:before {	
	color: #fff;
	font: 300 125px 'Open Sans', sans-serif;
	font-weight: bold;
	display: block;
	position: absolute;
	right: -20px;
	bottom: -40px;
	opacity: 0.1;
}
.ie8 .front-steps-wrapper .front-step:before {
	display: none !important;
}
.front-steps-wrapper .front-step1:before {
	content: "1";
	opacity: 0.2;
}
.front-steps-wrapper .front-step2:before {
	content: "2";
	right: -15px;
}
.front-steps-wrapper .front-step3:before {
	content: "3";
}
.front-steps-wrapper .front-step4:before {
	content: "4";
}
.front-steps-wrapper .front-step5:before {
	content: "5";
}
.front-steps-wrapper .front-step6:before {
	content: "6";
}

.front-steps-wrapper .front-step:after { 
	top: 50%;
	width: 0; 
	height: 0;
	left: 100%;
	z-index: 2; 
	content: " "; 
	display: block; 
	margin-top: -1em; 
	position: absolute;
	border-left: 15px solid #EC7049;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.ie8 .front-steps-wrapper .front-step:after {
	display: none !important;
}
.front-steps-wrapper .front-step-col:last-child .front-step:after {
	display: none;
}
.front-steps-wrapper .front-step2:after {
	border-left-color: #899199;	
}
.front-steps-wrapper .front-step3:after {
	border-left-color: #778089;	
}
.front-steps-wrapper .front-step4:after {
	border-left-color: #727980;	
}
.front-steps-wrapper .front-step5:after {
	border-left-color: #6E7278;	
	top: auto;
	bottom: 10%;
}/* CSS Document */

