<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>ChuMeet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/BA103G2DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
    <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
<!--   <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ExceptionHandler</location>
  </error-page> -->
  <!-- **********共用filter********** -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
   <!-- **********會員filter********** -->
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/member/memberHome.do</url-pattern>
  </filter-mapping>
  <!-- 訪客查看會員頁面filter -->
  <filter>
    <filter-name>PrivFilter</filter-name>
    <filter-class>filters.MemPrivFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrivFilter</filter-name>
    <url-pattern>/front-end/member/guestHome.do</url-pattern>
  </filter-mapping>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
  <!-- **********會員登入登出註冊********** -->
  <!-- 會員驗證信箱 -->
    <servlet>
    <servlet-name>VerifyEmailServlet</servlet-name>
    <servlet-class>com.member.controller.verifyEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyEmailServlet</servlet-name>
    <url-pattern>/front-end/member/verifyEmail.do</url-pattern>
  </servlet-mapping>
  <!-- 首頁 -->
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.member.controller.indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/front-end/indexXXXXXXXXXXX.jsp</url-pattern>
  </servlet-mapping>
  <!-- 會員登入 -->
  <servlet>
    <servlet-name>MemberLoginServlet</servlet-name>
    <servlet-class>com.member.controller.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginServlet</servlet-name>
    <url-pattern>/front-end/member/memberLogin.do</url-pattern>
  </servlet-mapping>
  <!-- 會員登出 -->
  <servlet>
    <servlet-name>MemberLogoutServlet</servlet-name>
    <servlet-class>com.member.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogoutServlet</servlet-name>
    <url-pattern>/front-end/member/memberLogout.do</url-pattern>
  </servlet-mapping>
  <!-- 會員註冊 -->
  <servlet>
    <servlet-name>MemberRegisterServlet</servlet-name>
    <servlet-class>com.member.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRegisterServlet</servlet-name>
    <url-pattern>/front-end/member/memberRegister.do</url-pattern>
  </servlet-mapping>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
  <!-- **********訪客查看會員頁面********** -->
  <servlet>
    <servlet-name>MemberGuestServlet</servlet-name>
    <servlet-class>com.member.controller.GuestHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberGuestServlet</servlet-name>
    <url-pattern>/front-end/member/guestHome.do</url-pattern>
  </servlet-mapping>
    <!-- **********訪客查看會員動態細節********** -->
  <servlet>
    <servlet-name>MemberGuestNFServlet</servlet-name>
    <servlet-class>com.member.controller.GuestNFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberGuestNFServlet</servlet-name>
    <url-pattern>/front-end/member/guestNF.do</url-pattern>
  </servlet-mapping>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
  <!-- **********會員查看自己頁面********** -->
  <servlet>
    <servlet-name>MemberHomeServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberHomeServlet</servlet-name>
    <url-pattern>/front-end/member/memberHome.do</url-pattern>
  </servlet-mapping>
  <!-- 行事曆 -->
  <servlet>
    <servlet-name>MemberCalendarServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberCalendarServlet</servlet-name>
    <url-pattern>/front-end/member/memberCalendar.do</url-pattern>
  </servlet-mapping> 
  <!-- 信箱 -->
  <servlet>
    <servlet-name>MemberMailServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberMailServlet</servlet-name>
    <url-pattern>/front-end/member/memberMail.do</url-pattern>
  </servlet-mapping>
  <!-- 動態 -->
  <servlet>
    <servlet-name>MemberNFServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberNFServlet</servlet-name>
    <url-pattern>/front-end/member/memberNF.do</url-pattern>
  </servlet-mapping>
  <!-- 社群管理 -->
  <servlet>
    <servlet-name>MemberCommunityServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberCommunityServlet</servlet-name>
    <url-pattern>/front-end/member/memberCommunity.do</url-pattern>
  </servlet-mapping>
  <!-- 等級 -->
  <servlet>
    <servlet-name>MemberLvServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLvServlet</servlet-name>
    <url-pattern>/front-end/member/memberLv.do</url-pattern>
  </servlet-mapping>
  <!-- 成就 -->
  <servlet>
    <servlet-name>MemberAchServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAchServlet</servlet-name>
    <url-pattern>/front-end/member/memberAch.do</url-pattern>
  </servlet-mapping>
  <!-- 獎賞 -->
  <servlet>
    <servlet-name>MemberRewardServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRewardServlet</servlet-name>
    <url-pattern>/front-end/member/memberReward.do</url-pattern>
  </servlet-mapping>
  <!-- 評價 -->
  <servlet>
    <servlet-name>MemberStarServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberStarServlet</servlet-name>
    <url-pattern>/front-end/member/memberStar.do</url-pattern>
  </servlet-mapping>
  <!-- 個人基本資訊 -->
  <servlet>
    <servlet-name>MemberInfoServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoServlet</servlet-name>
    <url-pattern>/front-end/member/memberInfo.do</url-pattern>
  </servlet-mapping>
  <!-- 個人頁面設定 -->
  <servlet>
    <servlet-name>MemberSettingServlet</servlet-name>
    <servlet-class>com.member.controller.MemberHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSettingServlet</servlet-name>
    <url-pattern>/front-end/member/memberSetting.do</url-pattern>
  </servlet-mapping>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
  <!-- **********搜尋會員********** -->
  <servlet>
    <servlet-name>MemberSearchServlet</servlet-name>
    <servlet-class>com.member.controller.MemberSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSearchServlet</servlet-name>
    <url-pattern>/front-end/member/memberSearch.do</url-pattern>
  </servlet-mapping>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
  <!-- **********會員動態首頁********** -->
  <servlet>
    <servlet-name>MemberNFSearchServlet</servlet-name>
    <servlet-class>com.member.controller.MemberNFSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberNFSearchServlet</servlet-name>
    <url-pattern>/front-end/member/memberNFSearch.do</url-pattern>
  </servlet-mapping>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
  <!-- **********會員大頭貼獲取********** -->
  <servlet>
    <servlet-name>GuestAvatarServlet</servlet-name>
    <servlet-class>com.member.controller.AvatarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestAvatarServlet</servlet-name>
    <url-pattern>/front-end/member/guestHome/avatar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberHomeAvatarServlet</servlet-name>
    <servlet-class>com.member.controller.AvatarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberHomeAvatarServlet</servlet-name>
    <url-pattern>/front-end/member/memberHome/avatar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberSearchAvatarServlet</servlet-name>
    <servlet-class>com.member.controller.AvatarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSearchAvatarServlet</servlet-name>
    <url-pattern>/front-end/member/memberSearch/avatar.do</url-pattern>
  </servlet-mapping>
  <!-- **********動態貼圖獲取********** -->
   <servlet>
    <servlet-name>MemberNFSearchAvatarServlet</servlet-name>
    <servlet-class>com.member.controller.NFAvatarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberNFSearchAvatarServlet</servlet-name>
    <url-pattern>/front-end/member/memberNFSearch/avatar.do</url-pattern>
  </servlet-mapping>
   <!-- /////////////////////////////////////////////////////////////////////////// -->
</web-app>